@use './flexColCenter.scss' as flex;

$width:  270px;

.card {
    width:$width;
    border-radius: 10px;
    padding: 20px;
    @include flex.flex-col(10px);
    transition: box-shadow 0.3s;
    cursor: pointer;

    

    img {
        width: 100%;
        border-radius: 10px;
    }

    h2 {
        font-size: 25px;
    }
}